body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
    overflow-x: hidden;
}

#chat-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
}

#chat-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#chat-box {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border-radius: 5px;
    z-index: 5000;
}

#messages-container {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 5px;
    background: #f1f1f1;
    border: 1px solid #ccc;
}

#chat-input {
    padding: 10px;
    width: calc(100% - 22px);
}

.hidden {
    display: none;
}
